<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<title>价格计算器</title>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="./public/js/axios.min.js"></script>
	<script src="./public/js/moment.min.js"></script>

	<style>
		table{
			width:100%;border-collapse: collapse; border-color:#f00;
			font-size: 14px;
		}
		td{
			padding: 6px 3px;
			text-align: center;
			border: 1px solid #999999;
			
		}
		input{
			height: 30px;
			padding: 0px 4px;
			line-height: 25px;
		}
		.table .item:nth-child(even){
			background: #d6e9f6;
		}
		.topTab{
			margin-bottom: 10px;
			clear: both;
			overflow:hidden;
			border-bottom: 1px solid #dddddd;
		}
		.topTab .item{
			float: left;
			padding: 10px;
			margin: 0px 10px 0px 0px;
		}
		.topTab .item.active{
			background: #ff8000;
			color: #ffffff;
		}
	</style>
</head>
<body>
	<div id="app">
		
		<div class="topTab">
			<div class="item" :class="{ active: showPrice }" @click="showPrice=true">
				价格计算
			</div>
			<div class="item" :class="{ active: !showPrice }" @click="showPrice=false">
				查看铜铝价
			</div>
		</div>
		<div v-show="showPrice">
			<div style="font-size: 25px;color:green;margin: 10px 0px;">
				当前价格更新时间: {{dateTime}}
			</div>
			<div style="color:red;margin-bottom:10px;">
				公式：当日（铜价*0.3）+（铝价*0.7）+加工费
			</div>
			<div>
				<div style="margin: 20px 0px;">
					<b>铜价：</b><input type="text" v-model="tongPrice"><br /><br />
					<b>铝价：</b><input type="text" v-model="lvPrice"><br />
				</div>
			</div>
			<table class="table" style="border: 1px solid #999999;">
				<tr>
					<td>序号</td>
					<td>规格</td>
					<td>加工费<br/>CCAQA-1/155</td>
					<td>当日铜价</td>
					<td>当日铝价</td>
					<td>当日含税价单价</td>
					<td>当日不含税单价</td>
				</tr>
				<tr v-for="(item, index) in listData" :key="item.id" class="item">
					<td>{{item.id}}</td>
					<td style="white-space: nowrap;">{{item.size}}</td>
					<td>{{item.addMuch}}</td>
					<td rowspan="11" v-show="index === 0 ? true : false" style="background: #a1d8fc;">{{tongPrice}}</td>
					<td rowspan="11" v-show="index === 0 ? true : false" style="background: #c5a1fc;">{{lvPrice}}</td>
					<td>{{ ((tongPrice*0.3)+(lvPrice*0.7)+item.addMuch).toFixed(2) }}</td>
					<td>{{ (((tongPrice*0.3)+(lvPrice*0.7)+item.addMuch)/1.08).toFixed(2) }}</td>
				</tr>
			</table>
			<div style="margin-top:20px;">
				QZ在以上基础上减0.5元/KG;QZY180和颜色线在以上基础上加1.00/KG
			</div>
			<div style="margin-top: 50px;">
				历史价格数据
			</div>
		</div>
		<div v-show="!showPrice">
			<iframe src="https://m.cnal.com/market/changjiang/" frameborder="0" style="height: 800px;width: 100%"></iframe>
		</div>
	</div>

	<script type="text/javascript">

		var app = new Vue({
			el: '#app',
			data: {
				message: 'Hello Vue!',
				listData: [{ id: 1, size: '0.10', addMuch: 25.50 },
					{ id: 2, size: '0.11', addMuch: 24.50 },
					{ id: 3, size: '0.12', addMuch: 21.00 },
					{ id: 4, size: '0.13', addMuch: 20.00 },
					{ id: 5, size: '0.14-0.15', addMuch: 16.00 },
					{ id: 6, size: '0.16-0.17', addMuch: 15.00 },
					{ id: 7, size: '0.18-0.19', addMuch: 14.50 },
					{ id: 8, size: '0.20-0.24', addMuch: 13.50 },
					{ id: 9, size: '0.25-0.29', addMuch: 13.00 },
					{ id: 10, size: '0.30-0.39', addMuch: 12.50 },
					{ id: 11, size: '0.40-1.3', addMuch: 12.00 }],
				tongPrice: 0,
				lvPrice: 0,
				showPrice: true,
				pcShow: false,
				dateTime: ''
			},
			created() {

				var year = new Date().getFullYear(),
					month = new Date().getMonth()+1,
					day = new Date().getDate();
					
				axios.get('/getPrice',{
					params:{ time: new Date(year, month, day, 00, 00, 00).getTime()}
				})
				  .then( (response) =>{
				    // handle success
					console.log(response.data);
					if(response.data){
						this.tongPrice = response.data.toPrice;
						this.lvPrice = response.data.lvPrice;
						this.dateTime = response.data.upDateTime
					}
				  })
				  .catch(function (error) {
				    // handle error
				    console.log(error);
				  })
				
				axios.get('/getPriceAll',{
					params:{ pageSize: 10, pageNo: 1}
				})
				  .then( (response) =>{
				    // handle success
					console.log(response.data);
					
				  })
				  .catch(function (error) {
				    // handle error
				    console.log(error);
				  })
			},
		});

	</script>

</body>
</html>